<!DOCTYPE html>
<html layout:decorator="layouts/manage">
<head>
<title>系统管理 - 人员管理</title>
</head>
<body>
	<ol layout:fragment="contentNavTitle">
	   <li>系统管理</li>
	   <li>人员管理</li>
	   <li><a th:href="@{/manage/accounts/create/}" class="btn btn-primary active" role="button">+ 新建帐号</a></li>
    </ol>

	<table layout:fragment="tableContent">
		<thead>
			<tr>
				<th>员工姓名</th>
				<th>用户名</th>
				<th>权限</th>
				<th>当前状态</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		    <tr th:each="user : ${users}">
				<td th:text="${user.realName}">王五</td>
				<td th:text="${user.userName}">wangwu</td>
				<td><div th:each="perm : ${user.permissions}"><div th:text="${perm.permission.displayName}">帐号审核 汇入款项处理 汇出款项处理</div></div></td>
				<td th:text="${user.enabled ? '启用' : '停用'}">停用</td>
				<td th:text="${#calendars.format(user.createTime, 'YYYY-MM-dd HH:mm')}">2014-10-01</td>
				<td><a th:href="@{/manage/accounts/{userId}/edit/(userId=${user.id})}">编辑</a></td>
			</tr>
		</tbody>
	</table>
</body>

</html>