<!DOCTYPE html>
<html layout:decorator="layouts/finance">
<head>
  <title>财务处理 - 汇款录入</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/form.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-datetimepicker.4.0.0.min.css}" />
</head>
<body>

<h4 layout:fragment="contentNavTitle">
  <i class="fa fa-fw fa-wrench"></i> 财务处理 - 汇款录入 </h4>

<div layout:fragment="pageContent">

  <form id="remittanceForm" method="POST" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 汇款信息
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label required">收到款项时间</label>
          <div class="controls col-sm-4">
            <div class="input-group date" id="datetimePicker">
              <input class="form-control" type="text" data-date-format="YYYY-MM-DD HH:mm" id="receiveTime" name="receiveTime" required="required" />
              <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
          </div>
          <div class="controls col-sm-4">
            <label id="receiveTime-error" class="error" for="receiveTime"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="amount" class="col-sm-2 control-label required">汇款金额（元）</label>
          <div class="controls col-sm-4">
            <input  class="form-control" type="text" min="0" id="amount" name="amount" placeholder="请输入汇款金额" required="required" />
          </div>
          <div class="controls col-sm-4">
            <label id="amount-error" class="error" for="amount"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="remitterAccount" class="col-sm-2 control-label required">汇款方银行账号</label>
          <div class="controls col-sm-4">
            <input  class="form-control" type="text" id="remitterAccount" name="remitterAccount" placeholder="请输入汇款方银行帐号" required="required" />
          </div>
          <div class="controls col-sm-4">
            <label id="remitterAccount-error" class="error" for="remitterAccount"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="bankSerialNumber" class="col-sm-2 control-label required">银行汇款流水号</label>
          <div class="controls col-sm-4">
            <input  class="form-control" type="text" id="bankSerialNumber" name="bankSerialNumber" placeholder="请输入银行汇款流水号" required="required" />
          </div>
          <div class="controls col-sm-4">
            <label id="bankSerialNumber-error" class="error" for="bankSerialNumber"></label>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 备注信息
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="mobile" class="col-sm-2 control-label">接收汇款用户手机号</label>
          <div class="controls col-sm-4">
            <input  class="form-control" type="text" id="mobile" name="mobile" />
          </div>
          <div class="controls col-sm-4">
            <label id="mobile-error" class="error" for="mobile"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="remitter" class="col-sm-2 control-label">汇款人姓名</label>
          <div class="controls col-sm-4">
            <input  class="form-control" type="text" id="remitter" name="remitter" />
          </div>
        </div>
        <div class="form-group">
          <label for="company" class="col-sm-2 control-label">公司名称</label>
          <div class="controls col-sm-4">
            <input  class="form-control" type="text" id="company" name="company" />
          </div>
        </div>
        <div class="form-group">
          <label for="remark" class="col-sm-2 control-label">其他信息</label>
          <div class="controls col-sm-4">
            <textarea class="form-control" type="text" id="remark" name="remark"></textarea>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="submit" name="mode" value="save" class="btn btn-primary">保  存</button>
      </div>
    </div>

  </form>
</div>

<div layout:fragment="additionalScriptFiles">
<script th:src="@{/static/js/moment.2.8.4.min.js}"></script>
<script th:src="@{/static/js/moment-locale-zh-cn.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.4.0.0.min.js}"></script>
<script th:src="@{/static/js/jquery.payment.1.7.1.js}"></script>
<script th:src="@{/static/js/jquery.validate.1.13.1.min.js}"></script>
<script th:src="@{/static/js/validator/additional-rules.js}"></script>
</div>
<script layout:fragment="inlineJavascript">
$(function () {
  $('#datetimePicker').datetimepicker({
    defaultDate: new Date(),
    format: 'YYYY-MM-DD HH:mm'
  });
  $('#datetimePicker').data("DateTimePicker").maxDate(new Date());
  $('#remitterAccount').payment('formatCardNumber');
  var validator = $('#remittanceForm').validate({
    rules: {
        receiveTime: {
            required: true,
            date: true
        },
        amount: {
            required: true,
            number: true,
            min: 0
        },
        remitterAccount: {
            required: true,
            bankCardNumber: true
        },
        mobile: {
            required: false,
            mobileCN: true
        },
        bankSerialNumber: {
            required: true
        }
    },
    messages: {
        receiveTime: "请输入正确的汇款时间",
        amount: "请输入正确的金额",
        remitterAccount: "请输入汇款方银行帐号",
        mobile: "请输入正确的接收汇款人的手机号",
        bankSerialNumber: "请输入银行汇款流水号"
    }
  });
});
</script>
</body>

</html>
