<!DOCTYPE html>
<html layout:decorator="layouts/finance">
<head>
  <title>财务处理 - 汇款处理</title>
</head>
<body>

<h4 layout:fragment="contentNavTitle">
  <i class="fa fa-fw fa-wrench"></i> 财务处理 - 汇款处理 </h4>

<div layout:fragment="pageContent">

  <form id="remittanceForm" th:action="@{/finance/remittance/process/detail/{id}/(id=${remittance.id})}" method="POST" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="hidden" name="mode" />
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 汇款信息
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th width="20%">汇款金额</th>
              <td th:text="${remittance.amount}">234234</td>
              <th width="20%">付款方银行帐号</th>
              <td width="30%" th:text="${remittance.remitterAccount}">6299999999999999123</td>
            </tr>
            <tr>
              <th>收到汇款时间</th>
              <td th:text="${#calendars.format(remittance.receiveTime, 'YYYY年M月d日 HH:mm')}">2014年3月15日 10:00</td>
              <th>录入汇款时间</th>
              <td th:text="${#calendars.format(remittance.createTime, 'YYYY年M月d日 HH:mm')}">2014年3月16日 16:25</td>
            </tr>
            <tr>
              <th>银行汇款流水号</th>
              <td th:text="${remittance.bankSerialNumber}">1234567890983748</td>
              <th>汇款录入人</th>
              <td th:text="${remittance.creator.realName}">张三</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <th:block th:if="${show_more}">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 备注信息
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th width="20%">接收汇款用户手机号</th>
              <td th:text="${remittance.mobile}">13700000000</td>
              <th width="20%">汇款人姓名</th>
              <td width="30%" th:text="${remittance.remitter}">张思</td>
            </tr>
            <tr>
              <th>公司名称</th>
              <td colspan="3" th:text="${remittance.company}">江苏国立有限公司</td>
            </tr>
            <tr>
              <th width="20%">其他信息</th>
              <td colspan="3" th:text="${remittance.remark}">该款项为江苏国立有限公司充值</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </th:block>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 系统匹配中可能对象列表
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
              <th>选择</th>
              <th width="15%">用户ID</th>
              <th width="20%">保证金账户余额</th>
              <th width="20%">货款账户余额</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="remit : ${possibleTargest}">
              <td><input type="radio" name="cid" th:value="${remit.company.id}" th:attr="data-attr='' + ${remit.company.id} + ',' + (${remit.company.ctype} ? ${remit.company.ctype.text} : '未知') + ',' + ${remit.remittance.amount} + ',' + ${remit.company.cname}" />
                <span th:text="${remit.company.cname}">江苏国立网络科技有限公司</span></td>
              <td><a th:href="@{/company/{cid}/info/(cid=${remit.company.id})}" target="_blank" th:text="${remit.company.id}">2323443242</a></td>
              <td th:text="${remit.guaranty.amount}">54390</td>
              <td th:text="${remit.balance.amount}">100000</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive" id="selectedTarget" style="display: none">
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
              <th width="25%">用户ID</th>
              <th width="25%">用户名称</th>
              <th width="20%">用户类型</th>
              <th width="20%">需变更账户类型</th>
              <th width="20%">需系统增加金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><div id="company">123459o8830300</div></td>
              <td><div id="companyName">江苏国立网络技术有限公司</div></td>
              <td><div id="companyType">船舶</div></td>
              <td>
                <select name="walletType" id="walletType">
                  <option th:each="type : ${T(com.appabc.bean.enums.PurseInfo.PurseType).values()}" th:value="${type}" th:text="${type.text}"></option>
                </select>
              </td>
              <td><div id="amount">65000</div></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 服务记录
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item">
            暂无该用户服务记录。
          </div>
        </div>
        <textarea id="serviceLog" name="serviceLog" rows="5" cols="80" placeholder="请输入处理意见"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
        <button type="button" id="btnSubmit" class="btn btn-primary"> 提  交 </button>
        <button type="button" id="btnUnsovlable" class="btn btn-default">升级为无法处理</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="accountAudit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="accountAudit">汇款处理</h4>
          </div>
          <div class="modal-body">
            <p id="modalContent"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="btnDialogOk" type="button" class="btn btn-primary">确定</button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<script layout:fragment="inlineJavascript">
$(document).ready(function() {
    $("input[type='radio']").click(function() {
        var data = $(this).data('attr');
        var res = data.split(',');
        $('#company').html(res[0]);
        $('#companyType').html(res[1]);
        $('#amount').html(res[2]);
        $('#companyName').html(res[3]);
        $('#selectedTarget').show();
    });

    $("#btnSubmit").click(function() {
        var selected = $("input[type='radio']:checked");
        var message = null;
        if (selected.length == 1) {
            var company = $(selected[0]);
            var res = company.data('attr').split(',');
            var type = $('#type option:selected').text();
            message = '确定要为 ' + res[3] + ' 的' + type + '钱包增加' + res[2] + '元吗？';
            $('#btnDialogOk').data('type', 'DISABLED');
            $('#btnDialogOk').show();
        } else {
            message = "请选择要进行汇款处理的账户！";
            $('#btnDialogOk').hide();
        }
        $('#btnDialogOk').data('action', 'SUBMIT');
        $("#modalContent").html(message);
        $("#confirmDialog").modal("show");
    });

    $("#btnUnsolvable").click(function() {
        $('#btnDialogOk').data('action', 'UNSOLVABLE');
        $("#confirmDialog").modal("show");
    });

    $("#btnDialogOk").click(function() {
        var action = $('#btnDialogOk').data('action');
        if (action === 'DISABLED') {
            return false;
        } else if (action === 'SUBMIT') {
            $('input[name=mode]').val('PROCESSING');
        } else if (action === 'UNSOLVABLE') {
            $('input[name=mode]').val('UNSOLVABLE');
        }
        $('#remittanceForm').submit();
    });
});
</script>
</body>

</html>
