<!DOCTYPE html>
<html layout:decorator="layouts/finance">
<head>
  <title>财务处理 - 汇款处理</title>
</head>
<body>

<h4 layout:fragment="contentNavTitle">
  <i class="fa fa-fw fa-wrench"></i> 财务处理 - 汇款处理 </h4>

<div layout:fragment="pageContent">

  <form id="remittanceForm" method="POST" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 汇款信息
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th width="20%">汇款金额</th>
              <td th:text="${remittance.amount}">234234</td>
              <th width="20%">付款方银行帐号</th>
              <td width="30%" th:text="${remittance.remitterAccount}">6299999999999999123</td>
            </tr>
            <tr>
              <th width="20%">收到汇款时间</th>
              <td th:text="${#calendars.format(remittance.receiveTime, 'YYYY年M月d日 HH:mm')}">2014年3月15日 10:00</td>
              <th width="20%">录入汇款时间</th>
              <td th:text="${#calendars.format(remittance.createTime, 'YYYY年M月d日 HH:mm')}">2014年3月16日 16:25</td>
            </tr>
            <tr>
              <th width="20%">汇款录入人</th>
              <td colspan="3" th:text="${remittance.creator.userName}">张三</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <th:block th:if="${show_more}">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 备注信息
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th width="20%">接收汇款用户手机号</th>
              <td th:text="${remittance.mobile}">13700000000</td>
              <th width="20%">汇款人姓名</th>
              <td width="30%" th:text="${remittance.remitter}">张思</td>
            </tr>
            <tr>
              <th width="20%">合同编号</th>
              <td th:text="${remittance.contractId}">201404159280</td>
              <th width="20%">公司名称</th>
              <td th:text="${remittance.company}">江苏国立有限公司</td>
            </tr>
            <tr>
              <th width="20%">其他信息</th>
              <td colspan="3" th:text="${remittance.remark}">该款项为江苏国立有限公司充值</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </th:block>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
        <button id="findTarget" type="button" class="btn btn-primary">寻找可能汇款对象</button>
      </div>
    </div>

  </form>
</div>

<script layout:fragment="inlineJavascript">
$("#findTarget").click(function(){
    var url = /*[[@{/finance/remittance/process/detail/{id}/find_targets/(id=${remittance.id})}]]*/ '/finance/process/detail/jwjkjjk1234/find_target';
    window.location.href = url;
});
</script>
</body>

</html>
