<!DOCTYPE html>
<html layout:decorator="layouts/finance">
<head>
<title>财务处理 - 汇款处理</title>
</head>
<body>
<h4 layout:fragment="contentNavTitle">
  <i class="fa fa-fw fa-wrench"></i> 财务处理 - 汇款处理
</h4>


<table layout:fragment="tableContent">
  <thead>
  <tr>
    <th>收到汇款金额</th>
    <th>汇款方银行帐号</th>
    <th>录入时间</th>
    <th>录入人</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="remit : ${remittances}">
    <td th:text="${remit.amount}">52938</td>
    <td th:text="${remit.remitterAccount}">62999999999999</td>
    <td th:text="${#calendars.format(remit.createTime, 'YYYY年M月d日 HH:mm')}">2014年3月16日 16:25</td>
    <td th:text="${remit.creator.realName}">王五</td>
    <td><a th:href="@{/finance/remittance/process/detail/{rid}/(rid=${remit.id})}">开始处理</a></td>
  </tr>
  <tr th:if="${#lists.isEmpty(remittances)}">
    <td colspan="5">暂时没有待处理的汇款项目</td>
  </tr>
  </tbody>
</table>

</body>

</html>
