<!DOCTYPE html>
<html layout:decorator="layouts/company">
<head>
  <title>用户资料 - 基本信息</title>
</head>
<body>

  <h4 layout:fragment="contentNavTitle">
    <i class="fa fa-fw fa-wrench"></i> 用户资料 / 基本信息
  </h4>

  <div layout:fragment="pageContent">

    <div th:replace="company/fragments :: basicinfo"></div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 评价资料
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th width="20%">成功交易笔数</th>
              <td th:text="${company.evaluationInfo.transactionSuccessNum}">6</td>
              <th width="20%">交易成功率</th>
              <td th:text="${company.evaluationInfo.transactionSuccessRate*100+'%'}">80.4%</td>
            </tr>
            <tr>
              <th>服务满意度</th>
              <td colspan="3" th:text="${company.evaluationInfo.averageEvaluation}">40</td>
            </tr>
            <tr>
              <th>诚信满意度</th>
              <td colspan="3" th:text="${company.evaluationInfo.averageCredit}">40</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 联系人
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr th:each="contact, status : ${contacts}">
              <th width="20%" th:inline="text">联系人姓名</th>
              <td th:text="${contact.cname}">张三</td>
              <th width="20%" th:inline="text">联系人手机</th>
              <td th:text="${contact.cphone}">18666662520</td>
              <th width="20%" th:inline="text">联系人电话</th>
              <td th:text="${contact.tel}">0755-86013388</td>
            </tr>
            <tr th:if="${#lists.isEmpty(contacts)}">
              <td colspan="6">暂无联系人</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 交易地址
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td colspan="2" th:text="${company.address}?${company.addrAreaFullName}+${company.address}:'无'">广东省深圳市科技园高新南四道数字技术园</td>
            </tr>
            <tr>
              <td colspan="2" th:if="${not #lists.isEmpty(company.addressImgList)}">
                <div class="row show-grid">
                  <div class="col-md-3" th:each="img : ${company.addressImgList}">
                  	<a th:href="${img.url}" target="_blank"><img th:src="@{${img.thumbnailSmall}}" title="点击放大查看"/></a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td width="20%">水深度（单位：m）</td>
              <td th:text="${#numbers.formatDecimal(company.deep == null ? 0 : company.deep, 1, 1)}">52</td>
              <td width="20%">泊船吨位（单位：吨）</td>
              <td th:text="${#numbers.formatDecimal(company.shippington == null ? 0 : company.shippington, 1, 1)}">52</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-primary" th:if="${not #lists.isEmpty(company.companyImgList)}">
      <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> 相关照片
      </div>
      <div class="panel-body">
        <div class="row show-grid">
          <div class="col-md-3" th:each="img : ${company.companyImgList}">
            <a th:href="${img.url}" target="_blank"><img th:src="@{${img.thumbnailSmall}}" title="点击放大查看"/></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> 相关介绍
      </div>
      <div class="panel-body">
        <div class="row show-grid">
          <div th:text="${company.mark!=null && company.mark!=''} ? ${company.mark} : '无'">
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary" th:if="${not #lists.isEmpty(company_evaluations)}">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 服务评价
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item" th:each="eval : ${company_evaluations}">
            <span class="pull-left text-muted small">
               评价时间：<em th:text="${#calendars.format(eval.cratedate, 'YYYY-MM-dd hh:mm:ss')}">2015-05-14</em>&nbsp;&nbsp;&nbsp;&nbsp;
               评价人：<em th:text="${eval.username}"></em>&nbsp;&nbsp;&nbsp;&nbsp;
               身份：<em th:text="${eval.ctype} ? ${eval.ctype.text} : '未知'"></em>&nbsp;&nbsp;&nbsp;&nbsp;
               名称：<em th:text="${eval.cname} ? ${eval.cname} : '无'"></em>
            </span><br>
            <th:block th:text="${eval.evaluation}"></th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
