<!DOCTYPE html>
<html layout:decorator="layouts/default">
<head>
  <title>个人资料 - 修改密码</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/content.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/form.css}" />
  <style>
    .row + .row {
    border-top:0 ;
    }
  </style>
</head>
<body>
<h4 layout:fragment="contentNavTitle">
  <i class="fa fa-fw fa-wrench"></i> 个人资料 - 修改密码
</h4>

<div layout:fragment="pageContent">
  <form id="passwordForm" method="POST" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <div class="alert alert-danger" th:remove="${error} ? none : all" role="alert">用户名或者密码不正确</div>
    <div class="form-group">
      <label for="oldPassword" class="col-sm-2 control-label required">原密码</label>
      <div class="controls col-sm-4">
        <input  class="form-control" type="password" id="oldPassword" name="oldPassword" required="required" />
      </div>
      <div class="controls col-sm-4">
        <label id="oldPassword-error" class="error" for="oldPassword"></label>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword" class="col-sm-2 control-label required">新密码</label>
      <div class="controls col-sm-4">
        <input  class="form-control" type="password" id="newPassword" name="newPassword" required="required" />
      </div>
      <div class="controls col-sm-4">
        <label id="newPassword-error" class="error" for="newPassword"></label>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword" class="col-sm-2 control-label required">确认密码</label>
      <div class="controls col-sm-4">
        <input  class="form-control" type="password" id="confirmNewPassword" name="confirmNewPassword" required="required" />
      </div>
      <div class="controls col-sm-4">
        <label id="confirmNewPassword-error" class="error" for="confirmNewPassword"></label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="submit" name="mode" value="save" class="btn btn-primary">确定</button>
      </div>
    </div>
  </form>
</div>
<div layout:fragment="additionalScriptFiles">
  <script th:src="@{/static/js/jquery.validate.1.13.1.min.js}"></script>
  <script th:src="@{/static/js/validator/additional-rules.js}"></script>
</div>
<script layout:fragment="inlineJavascript">
$(function () {
  var validator = $('#passwordForm').validate({
    rules: {
        oldPassword: {
            required: true,
            minlength: 8,
            maxlength: 20
        },
        newPassword: {
            required: true,
            minlength: 8,
            maxlength: 20
        },
        confirmNewPassword: {
            required: true,
            equalTo: '#newPassword'
        }

    },
    messages: {
        oldPassword: "请输入原密码",
        newPassword: "请输入新密码，密码长度为8~20个字符",
        confirmNewPassword: "与新密码不一致，请确认"
    }
  });
});
</script>
</body>
</html>
