<!DOCTYPE html>
<html layout:decorator="layouts/default">
<body>
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<th:block layout:fragment="side-menu">
  <li sec:authorize="hasRole('ROLE_ACCOUNT_MANAGER')">
    <a th:href="@{/manage/accounts/1/}"><i class="fa fa-fw fa-paperclip"></i> 人员管理</a>
  </li>
  <li sec:authorize="hasRole('ROLE_SPECIAL_CONDITION_PROCESS')" class="active">
    <a th:href="@{/manage/unsolved/}"><i class="fa fa-fw fa-align-left"></i> 特殊情况处理</a>
  </li>
</th:block>
</body>
</html>
