<!DOCTYPE html>
<html layout:decorator="layouts/task">
<head>
<title>站内销售 - 催促缴纳保证金</title>
</head>
<body>
	<li layout:fragment="contentNavTitle"><i class="fa fa-paperclip"></i> 站内销售 - 催促缴纳保证金</li>

	<table layout:fragment="tableContent">
		<thead>
			<tr>
				<th>用户ID</th>
				<th>类型</th>
				<th>当前保证金账户余额（元）</th>
				<th>最后一次登录时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>3326</td>
				<td>10/21/2013</td>
				<td>3:29 PM</td>
				<td>$321.33</td>
				<td>$321.33</td>
			</tr>
		</tbody>
	</table>
</body>

</html>