.required::after {
    content: "*";
    color:red;
    position: absolute;
    top: 0;
    right: 5px;
}

.cb-inline {
	margin-right: 10px;
}

.error {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: #a94442;
    /*
    background-color: #f2dede;
    border-color: #ebccd1;
    */
}

.form-label {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.help-inline {
	display: inline-block;
	vertical-align: middle;
	padding-top: 4px;
    margin-bottom: 0;
}

.hide {
	display: none
}
